body{
    background-color: rgb(42, 42, 42);
    color: rgb(219, 219, 219);
    margin: 0px;
    padding: 0px;
    font-family: Arial, sans-serif;
}

a{
    text-decoration: none;
    color: white;
}

.TOP{
    scroll-behavior: smooth;
}

header ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    background-color: rgb(194 171 171); 
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 20px;
    color: black;
}

.div_h2{display: flex;
    justify-content: center;
    flex-direction: column;
}

h2{
    font-size: 20px;
}


.compte{
    width: 50px;
    height: 50px;
    margin-right: 40px;
}

.chap{
    margin: 40px;
}

.esp{
    background-color: rgb(194 171 171);
    height: 5px;
    margin-left: 200px;
    margin-right: 200px;
    border-radius: 20px;
}







#imageContainer {
    position: fixed;
    pointer-events: none; 
    transition: transform 0.2s ease-out; 
}


#imageContainer img {
    width: 50px; 
    height: auto;
}


#zombie {
    position: absolute;
    width: 100px;
    height: auto;
    transition: transform 5.0s ease-out;
}











