.ecole{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ecole_p_img{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.ecole_img{
    width: 500px;
    
}

.p_ecole_1{
    width: 500px;
    margin-right: 20px;
}